body{
    background-image: url(flower.jpg);
    height: 100%;
    width: 100%;
}
.iamge{
    background-color: antiquewhite;
    width: 100%;
    height: 3%;
}
.container{
 
    background-color:transparent;
    
}
.copyright{
    padding-top: 3rem;
}
